div{
  align-items: center;
  margin: 20px;
  padding: 20px;
  font-style: italic;
  background-color:#E37222;
  border-radius: 20px;
  text-align: center;
}
a {
  color:#DFDCE3;
  text-decoration: none;
}

.flex-container {
  display: flex;
  margin-top: 3em;
  flex-wrap: wrap;
  padding: 5em 12em;
}

.box {

  display: flex;

  justify-content: center;
  margin: 18px;
  height: 150px;
  width: 150px;
  color: white;
  
  background-color: #FC4A1A;
  box-shadow: 5px 10px 20px rgb(94, 101, 101);
}

.box:hover {
  background-color: #ff9900;
}


/*tablet display*/
@media screen and (max-width: 768px) {
.box{
  width : 130px;
  min-width: 130px;
  height: 130px;
  font-size: 0.85em;
}
/*phone display*/
@media screen and (max-width:480px) {
  .box{
    width: 110px;
    min-width: 110px;
    height: 110px;
    font-size: 0.7em;
  }

}

}
