<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <title> <%= kindOfTitle %> </title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href=<%=kindOfPath %>>

</head>

<body>
  <div class="container">
    <header>
      <img src="img/fhlogo.png" alt="FH Dortmund Logo">
      <h1><%= kindOfTitle %> </h1>
    </header>

    <nav>
      <ul>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="seminarliste.html">Seminarliste</a></li>
        <li><a href="aud.html"> Seminardetailseite</a></li>
        <li><a href="rett.html">Seminarleiter</a></li>
      </ul>
      <hr>
    </nav>
