<%- include("header") -%>
<div class="sidecontainer">

<main>

  <div class="divinfo">
    <h2>Infomation</h2>
    <ul>
      <li>Titel: Algorithmen und Datenstruktur</li>
      <li>Name des Seminarleiters: <a href="rett.html">Robert Rettinger</a></li>
      <li>Veranstaltungsdatum: 11-04-19</li>
      <li>Start: 14:00 , Ende: 16:00</li>
      <li>Anzahl freier Plätze: 15</li>
      <li>Anzahl ingesamt verfügbarer Plätze: 50</li>
    </ul>
  </div>

  <div class="divbeschreiben">
    <h2>Beschreibung</h2>
    <p>Die Veranstaltung behandelt fortgeschrittene Entwurfs- und
      Analysemethoden für Algorithmen und Datenstrukturen. Sie kann als
      Weiterführung von "Datenstrukturen, Algorithmen und Programmierung"
      und als Grundlage für die entsprechenden Vertiefungsmodule gesehen werden.
    </p>
  </div>

</main>


<%-include("aside") -%>

<%-include("footer") -%>
