<%- include("header") -%>

<main>

    <figure>
        <img  id="rett" src="img/rett.jpg" alt="Professor Rettinger" >
        <figcaption>Prof. Dr. Robert Rettinger</figcaption>
    </figure>

    <div id="kontaktdaten">
        <h2>Kontaktdaten</h2>
        <p>Name: Robert Rettinger</p>
        <p id="mail">Email: <a href="mailto:robert.rettinger@fh-dortmund.de">robert.rettinger@fh-dortmund.de </a>
        </p>
        <p>Telefonnummer: +49 (0231) 9112-6797</p>
        <p> Sprechzeiten: Bitte buchen Sie einen Termin über meinen Ilias-Sprechstundenkalender.</p>
        <p> Adresse: Emil-Figge-Str. 42 44227 Dortmund</p>
        <p> Raum: EFS 42 C.3.47</p>
    </div>


</main>
<%-include("aside") -%>

<%-include("footer") -%>
